[package]
name = "{{project-name}}-{{component-name}}"
version = "0.1.0"
edition = "2021"

[dependencies]
{{project-name}}-core = { path = "{{core-relative-path}}" }
{{project-name}}-common = { path = "{{common-relative-path}}" }
# Additional dependencies here
